html
    head
        title The Facebook
        meta(name="viewport", content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width")
    body
        h1 The Facebook
        div#login
            label(for="userName") Usuario
            input#userName(placeholder="Ingresa tu usuario")
            br
            label(for="password") Contraseña
            input#passLogin(type="password" placeholder="Ingresa la contraseña")
            br
            button#do-login Ingresar
            br
            p#alert-login 
        div#wall
            div#show-user-alert
            div#new-state
                textarea#state-text(placeholder="¿Que estás pensando")
                button#send-state ¡Publicar!
        div#states
        div#most-active

    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js")
    script(src="./js/main.js")